.table{
    border-radius: 20px;
    box-shadow: 5px 12px 45px -2px rgba(5, 0 ,14, 1);
}
.padding_left_65{
    padding-left: 65px;
}
.create-modal{
    box-shadow: 1px 4px 39px -5px rgba(5, 0 ,14, 1);
}
